      (% extends "layout.html" %)
      (% block content %)

      <!--Start of Vue app-->
      <div id="app">
        <div class="container">
          <h1 style="width: 90%;margin: auto;margin-top: 20px; text-align: center;">Fill Your Insurance Policy</h1>

          <!-- Loops through risks that came from API-->
          <div class="row" v-for="(risk, index) in risks">
            <form class="col s10 offset-s1 lead-form" >      
              <span class="left numero" style="">[[index+1]]</span>

              <!-- Table name-->
              <div class="form-content" >
                <div class="row">
                  <h3 v-html="risk.table_name"></h3>
                </div>

              <!-- Loop though table's fields-->
              <div class="row row-grid" v-for="(field_entry, field_index) in risk.fields">

                <!-- Show text field if data type is varchar-->
                <div class="input-field">
                  <input 
                    v-if="field_entry.data_type === 'VARCHAR(50)'" 
                    required 
                    :placeholder="'Please type in: '+ field_entry.column_name" 
                    :id="getIDOrName('text', index, field_index)" 
                    type="text" 
                    class="validate">

                  <label 
                    v-if="field_entry.data_type === 'VARCHAR(50)'" 
                    class="active" 
                    :for="getIDOrName('text', index, field_index)">
                    [[field_entry.column_name]]
                  </label>


                  <!-- Show numeric field if data type is numeric-->
                  <input 
                    v-if="field_entry.data_type === 'NUMERIC'" 
                    required :placeholder="'Please type in: '+ field_entry.column_name + ' using the numbers keypad'" 
                    :id="getIDOrName('number', index, field_index)" 
                    type="number" 
                    class="validate">

                  <label 
                    v-if="field_entry.data_type === 'NUMERIC'" 
                    class="active" 
                    :for="'number' + '_' + index + '_' + field_index">
                    [[field_entry.column_name]]
                  </label>

                  <!-- Show date picker field if data type is datetime-->
                  <input 
                    v-if="field_entry.data_type === 'DATETIME'" 
                    required 
                    placeholder="Please select date" 
                    :id="getIDOrName('date', index, field_index)" 
                    type="date" 
                    class="validate datepicker">

                  <label 
                    v-if="field_entry.data_type === 'DATETIME'" 
                    class="active" 
                    :for="getIDOrName('date', index, field_index)">
                    [[field_entry.column_name]]
                  </label>


                  <!-- Show datalist for when data type is enum-->
                  <input 
                    :list="'other' + '_' + index + '_' + field_index + '_list'" 
                    v-if="getType(field_entry.data_type)" 
                    required 
                    :placeholder="'Please select: '+ field_entry.column_name + ' from the list'" 
                    :id="getIDOrName('other', index, field_index)" 
                    class="validate">

                  <datalist 
                    :id="'other' + '_' + index + '_' + field_index + '_list'">
                    <option v-for="d in field_entry.data_type" :value="d">
                  </datalist>

                  <label 
                    v-if="getType(field_entry.data_type)===true" 
                    class="active" 
                    :for="getIDOrName('other', index, field_index)">
                    [[field_entry.column_name]]
                  </label>

                </div>                
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--End of Vue app-->
      (% endblock %)

      (% block scripts %)
      <script>
        var app = new Vue({
          el: '#app',
          delimiters: ["[[", "]]"],
          data: {
              risks: [],
            },

            beforeMount: function() {
            axios.get('risks')
            .then(response => this.risks = response.data
              )},

            methods: {
              // Ensures HTML elements' ids and names are unique
              getIDOrName(inputType, index, field_index) {
                return inputType + '_' + index + '_' + field_index
              },

              // For enum data type
              getType(field_entry) {
                if (field_entry.constructor === Array) {
                 return true
                }
                else {
                  return false
                }
              },
            },
          })
      </script>
      (% endblock %)