  (% extends "layout.html" %)
  (% block content %)
    <!--Start of Vue app-->
    <div id="app">
        <div class="container">
            <h1 style="width: 90%;margin: auto;margin-top: 20px; text-align: center;">
              Plan Your Insurance Policy
            </h1>

            <!-- Validation errors when there's less than one risk-->
            <p v-if="errors.length" style="color: #ee6e73;background-color: white;">
                <b>Please correct the following error(s):</b>
                <ul style="color: #ee6e73;background-color: white;">
                    <li v-for="error in errors"> [[error]] </li>
                </ul>
            </p>

            <!-- v-for statement to loop through all the forms users add. One form for each risk-->
            <div class="row" v-for="(risk, index) in risks">
                <form class="col s10 offset-s1 lead-form">

                    <!-- Validation errors when there's more than one risk-->
                    <p v-if="risk.errors.length" style="color: #ee6e73">
                        <b>Please correct the following error(s):</b>
                        <ul style="color: #ee6e73">
                            <li v-for="error in risk.errors"> [[error]] </li>
                        </ul>
                    </p>

                    <!--Remove Risk button-->
                    <span class="right" style="cursor: pointer;" @click="RemoveRisk(index)">X</span>

                    <!-- Risk numbering on the left of each form-->
                    <span class="left numero" style="">[[index+1]]</span>

                    <div class="form-content">

                        <!-- Input field for Risk name-->
                        <div class="row">
                            <div class="input-field col s6">
                                <input required autocomplete="true" placeholder="House, car, vocal cords ...etc." id="risk_type" type="text" class="validate" v-model="risk.risk_name">
                                <label class="active" for="risk_type">
                                  <span style="font-size: 20px;">
                                    <strong>Risk</strong>
                                  </span>
                                </label>
                            </div>
                        </div>

                        <!-- v-for statement to loop through input fields for risk fields-->
                        <div class="row row-grid" v-for="(field_entry, field_index) in risk.fields">

                            <!-- Risk field name-->
                            <div class="input-field">
                                <input required placeholder="Price, Date of Birth ...etc." id="field" type="text" class="validate" v-model="field_entry.field">
                                <label class="active" for="field">Risk Field [[index+1]].[[field_index+1]]</label>
                            </div>

                            <!-- Risk field data type-->
                            <div id="type">

                                <!-- Input field is 'text'-->
                                <div class="input-field col s3">
                                    <input 
                                      @click="HideChips(index,field_index)" 
                                      :id="getIDOrName('text', index, field_index)" 
                                      type="radio" 
                                      value="text" 
                                      class="validate" 
                                      v-model="field_entry.type" 
                                      :name="getIDOrName('datatype_', index, field_index)">

                                    <label :for="getIDOrName('text', index, field_index)">Text</label>
                                </div>

                                <!-- Input field is 'number'-->
                                <div class="input-field col s3">
                                    <input 
                                      @click="HideChips(index,field_index)" 
                                      :id="getIDOrName('number', index, field_index)" 
                                      type="radio" 
                                      value="number" 
                                      class="validate" 
                                      v-model="field_entry.type" 
                                      :name="getIDOrName('datatype_', index, field_index)">

                                    <label :for="getIDOrName('number', index, field_index)">Number</label>
                                </div>

                                <!-- Input field is 'date'-->
                                <div class="input-field col s3">
                                    <input 
                                      @click="HideChips(index,field_index)" 
                                      :id="getIDOrName('date', index, field_index)" 
                                      type="radio" 
                                      value="date" 
                                      class="validate" 
                                      v-model="field_entry.type" 
                                      :name="getIDOrName('datatype_', index, field_index)">

                                    <label :for="getIDOrName('date', index, field_index)">Date</label>
                                </div>

                                <!-- Input field is 'enum'-->
                                <div class="input-field col s3">
                                    <input 
                                      @click="ToggleChips(index,field_index)" 
                                      :id="getIDOrName('other', index, field_index)" 
                                      type="radio" 
                                      class="validate" 
                                      :name="getIDOrName('datatype_', index, field_index)">

                                    <label :for="getIDOrName('other', index, field_index)">Other</label>
                                </div>
                            </div>

                            <!-- Chips for when data type is enum-->
                            <div>
                                <v-tag-input 
                                  class="hide-me" 
                                  :id="getIDOrName('hide_me', index, field_index)" 
                                  style="display:none" 
                                  placeholder="Add space-separated data types. For ex: USD EUR GPB" 
                                  v-model="field_entry.type">
                                </v-tag-input>

                                <div class="chip right">[[field_entry.type]]</div>
                            </div>

                            <!-- Remove risk field button-->
                            <div class="input-field col">
                                <a @click="RemoveField(index,field_index)" class="waves-effect waves-light btn red right" style="margin-top: 10px"><i class="material-icons left">remove</i>Remove Field</a>
                            </div>
                        </div>

                        <!-- Add field button-->
                        <div class="row">
                            <div class="col s12">
                                <a @click="AddNewField(index)" class="waves-effect waves-light btn green right"><i class="material-icons left">add</i>Add Field</a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="form-content">

                        <!-- Add new risk button-->
                        <a @click="AddNewRisk" class="waves-effect waves-light btn green right">
                          <i class="material-icons left">add</i>Add Risk
                        </a>

                        <!-- Reset button-->
                        <a @click="Reset" style="margin-right: 5px;" class="waves-effect waves-light btn blue right">
                          <i class="material-icons left">loop</i>Reset
                        </a>

                        <br>
                        <br>

                        <!-- Submit button sends 'risks' data element to the API-->
                        <button @click="Submit" class="btn btn-large waves-effect waves-light right green" type="submit" name="action">
                          Submit!<i class="material-icons left">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Vue app-->
  (% endblock %)

  (% block scripts %)

    <!-- Vue code-->
    <script>
    var app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],// To work with Flask's Ninja and Vue templates at the same time
        data: {
            errors: [], // Validation errors

            // 'risks' array is the meat and potatos of the app.
            // All the data the user enters goes to this data element
            risks: [{
                'risk_name': '',
                'fields': [{ 'field': '', 'type': '' }],
                'errors': []
            }],
        },
        methods: {

            // Ensures HTML elements' ids and names are unique
            getIDOrName(inputType, index, field_index) {
              return inputType + '_' + index + '_' + field_index
            },

            // As the name suggests
            AddNewRisk() {
                this.errors = []
                this.risks.push({
                    risk_name: '',
                    fields: [{ 'field': '', 'type': '' }],
                    'errors': []
                })
            },

            RemoveRisk(index) {
                this.risks.splice(index, 1)
            },

            AddNewField(index) {
                this.risks[index].fields.push({ 'field': '', 'type': '' })
            },

            RemoveField(index, field_index) {
                console.log(index, field_index)
                this.risks[index].fields.splice(field_index, 1)
            },

            Reset() {
                this.errors = []
                $('.hide-me').hide()
                $('input:radio[name="datatype"]').prop('checked', false);
                this.risks = [{
                    'risk_name': '',
                    'fields': [{ 'field': '', 'type': '' }],
                    'errors': []
                }]
            },

            // Checks forms are valid before submit is possible
            checkValidity() {

                var canSubmit = true
                this.errors = []

                if (this.risks.length == 0) {
                    this.errors.push('At least one risk is required ')
                    canSubmit = false
                }


                for (var i = this.risks.length - 1; i >= 0; i--) {

                    //Reset errors list
                    this.risks[i].errors = []
                    this.errors = []

                    //User friendly record number (starts from 1)
                    var risk_display_index = i + 1

                    if (!this.risks[i].risk_name) {
                        this.risks[i].errors.push('Risk name required for record ' + risk_display_index)
                        canSubmit = false
                    }

                    if (this.risks[i].fields.length == 0) {
                        this.risks[i].errors.push('At least one field is required for record ' + risk_display_index)
                        canSubmit = false
                    }

                    for (var y = this.risks[i].fields.length - 1; y >= 0; y--) {
                        var field_display_index = y + 1
                        if (!this.risks[i].fields[y].field) {
                            this.risks[i].errors.push('Field name required for record ' + risk_display_index + "." + field_display_index)
                            canSubmit = false
                        }

                        if (this.risks[i].fields[y].type.length == 0) {
                            this.risks[i].errors.push('Data type is required for record ' + risk_display_index + "." + field_display_index)
                            canSubmit = false
                        }
                    }
                }
                return canSubmit
            },
            Submit() {
                if (this.checkValidity()) {

                    // Submitted risks are posted to the api
                    axios.post('risks', this.risks)

                        .then(function(response) {
                            // Upon submit success, user is sent to fill out his insurance policy
                            window.location.replace("form");
                        })


                          // Upon submit failure, error is alerted
                        .catch(function(error) {
                            alert('This Error occured: ' + error.data)
                        })

                }
            },


            // These two methods ensure the enum input field (chips) only show up when necessary
            ToggleChips(index, field_index) {
                this.risks[index].fields[field_index].type = ''
                $("#hide_me_" + index + "_" + field_index).show()
            },

            HideChips(index, field_index) {
                $("#hide_me_" + index + "_" + field_index).hide()
            }
        },
    })
    </script>

    (% endblock %)